<template>
    <v-card class="mx-auto"
            outlined
    >
        <v-card-title class="display-2">
            Import MyAnimeList
        </v-card-title>

        <v-card-subtitle class="headline">
            This feature help you import all animes for a username from myanimelist.net.<br>
        </v-card-subtitle>

        <v-card-text class="title">
            Simply enter a MyAnimeList username then click Import now.<br>
            All animes with their user score will be imported.<br>
            This may take maximum 15 minutes.
        </v-card-text>

        <v-form
            ref="form"
            v-model="valid"
        >
            <v-text-field v-model="username"
                          :rules="rules"
                          label="MyAnimeList username"
                          class="mx-4"
            />

            <v-alert
                v-if="success"
                class="ma-3"
                color="green"
                dense
                outlined
                type="success"
            >
                Import successful.
            </v-alert>

            <v-alert
                v-if="error"
                class="ma-3"
                color="red"
                dense
                outlined
                type="error"
            >
                Something went wrong.
                Please contact <a href="mailto:Cloud8x4@gmail.com">Cloud8x4</a> if the problem persists.
            </v-alert>

            <v-card-actions>
                <v-btn :disabled="!valid || loading"
                       class="white--text"
                       color="blue lighten-2"
                       @click="importNow"
                >
                    <v-icon
                        v-if="loading"
                        left
                    >
                        mdi-loading mdi-spin
                    </v-icon>
                    Import now!
                </v-btn>
            </v-card-actions>
        </v-form>
    </v-card>
</template>

<script>
export default {
    data() {
        return {
            username: '',
            valid: true,
            rules: [ v => !!v || 'MyAnimelist username is required' ],
            loading: false,
            success: false,
            error: false,
        }
    },
    mounted() {
        // TODO: Call API to get my username and fill in this.username
    },
    methods: {
        validate() {
            this.$refs.form.validate()
        },
        importNow() {
            this.loading = true
            this.success = false
            this.error = false
            // @TODO: Call API to import in the background.
            axios.post('/api/user/import', { name: this.username })
                .then(() => {
                    this.success = true
                })
                .catch(() => {
                    this.error = true
                })
                .finally(() => {
                    this.loading = false
                })
        },
    },
}
</script>
