<template>
    <div>
        <suggestions/>
        <news/>
    </div>
</template>

<script>
import News from '../components/News'
import Suggestions from '../components/Suggestions'

export default {
    components: {
        News,
        Suggestions,
    },
}
</script>
