<template>
    <div>
        <h1 v-if="animes.length + characters.length + seiyuus.length > 0">
            Results for "{{ searched }}"
        </h1>
        <h1 v-else>
            No results found for "{{ searched }}"
        </h1>
        <div v-if="animes.length > 0">
            <h2>Anime</h2>
            <div class="row mb-6">
                <div
                    v-for="anime in animes"
                    :key="anime.id"
                    class="col-xs-6 col-sm-4 col-md-3 col-lg-2"
                >
                    <anime :value="anime"/>
                </div>
            </div>
        </div>
        <div v-if="characters.length > 0">
            <h2>Characters</h2>
            <div class="row mb-6">
                <div
                    v-for="character in characters"
                    :key="character.id"
                    class="col-xs-6 col-sm-4 col-md-3 col-lg-2"
                >
                    <character :value="character"/>
                </div>
            </div>
        </div>
        <div v-if="seiyuus.length > 0">
            <h2>Seiyuu</h2>

            <div class="row mb-6">
                <div
                    v-for="seiyuu in seiyuus"
                    :key="seiyuu.id"
                    class="col-xs-6 col-sm-4 col-md-3 col-lg-2"
                >
                    <seiyuu :value="seiyuu"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Anime from '../components/Anime'
import Character from '../components/Character'
import Seiyuu from '../components/Seiyuu'

export default {
    components: {
        Anime,
        Character,
        Seiyuu,
    },
    data() {
        return {
            searched: $('#searched').val(),
            animes: [],
            characters: [],
            seiyuus: [],
        }
    },
    mounted() {
        this.search()
    },
    methods: {
        search() {
            axios
                .post('/api/search', { search: this.searched })
                .then(({ data }) => {
                    Vue.set(this, 'animes', data.animes)
                    Vue.set(this, 'characters', data.characters)
                    Vue.set(this, 'seiyuus', data.seiyuus)
                })
        },
    },
}
</script>
