<template>
    <div>
        <carousel/>
        <div style="align-items: center; display: flex; justify-content: center; position: relative">
            <div class="text-center">
                <h1 style="font-size: 6rem; margin-bottom: 30px;">
                    <a href="/dashboard"
                       style="text-decoration: none; color: #aba499;"
                    >
                        {{ appName }}
                    </a>
                </h1>
                <div>
                    <a href="https://bitbucket.org/cloud8x4/myanimecloud"
                       target="_blank"
                       style="text-decoration: none; color: #aba499; padding: 0 25px; font-size: 1.5rem; letter-spacing: .1rem; text-transform: uppercase;"
                    >
                        Bitbucket repository
                    </a>
                    <a href="https://myanimelist.net"
                       target="_blank"
                       style="text-decoration: none; color: #aba499; padding: 0 25px; font-size: 1.5rem; letter-spacing: .1rem; text-transform: uppercase;"
                    >
                        MyAnimeList
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Carousel from '../components/Carousel'

export default {
    components: {
        Carousel,
    },
    data() {
        return {
            appName: $('#app-name').val(),
        }
    },
}
</script>
