<template>
    <v-card>
        <a :href="`/character/${value.id}`"
           target="_blank"
        >
            <v-img :src="`/storage/character/${value.image}`"/>
        </a>

        <v-card-subtitle class="text-h6">
            My rank: {{ value.pivot.rank }}
            <v-alert
                v-if="value.pivot.newRank"
                :type="type"
                dense
            >
                {{ text }}
            </v-alert>
        </v-card-subtitle>

        <v-card-actions>
            <v-btn
                :color="`${value.color} lighten-1`"
                :disabled="loading"
                class="white--text text-h6"
                large
                block
                @click="characterSelected"
            >
                <v-icon
                    v-if="loading"
                    left
                >
                    mdi-loading mdi-spin
                </v-icon>
                {{ value.name }}
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props: {
        loading: {
            type: Boolean,
            required: true,
        },
        value: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            selected: false,
        }
    },
    computed: {
        type() {
            return this.selected ? 'success' : 'warning'
        },
        text() {
            return this.selected
                ? `Winner: rank improves by ${this.value.pivot.rank - this.value.pivot.newRank}!`
                : `Loser: rank drops by ${this.value.pivot.newRank - this.value.pivot.rank}.`
        },
    },
    methods: {
        characterSelected() {
            this.$emit('selected', this.value)
            Vue.set(this, 'selected', true)
        },
    },
}
</script>
