/* Paddings */
.no-padding {
    padding: 0
}

.p-x-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.p-r-4 {
    padding-right: 4px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-l-4 {
    padding-left: 4px;
}

.p-r-0 {
    padding-right: 0
}

/* Other */

.registration-required {
    color: gold;
    font-weight: bold;
    cursor: pointer;
}

.error[type="text"] {
    border-color: #fa424a
}

.divError {
    color: #fa424a
}

.img-wrapper {
    display: inline-block;
}

.pointer {
    cursor: pointer;
}

.displayNone {
    display: none;
}

.main {
    font-weight: bold;
    font-style: italic;
}

/*
 * Bootstrap Multi-column Dropdown Menu
 * Source: http://alijafarian.com/bootstrap-multi-column-dropdown-menu/
 */
.dropdown-menu {
    min-width: 200px;
}

.dropdown-menu.columns-2 {
    min-width: 400px;
}

.dropdown-menu.columns-3 {
    min-width: 600px;
}

.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}

.multi-column-dropdown {
    list-style: none;
}

.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}

.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}