<template>
    <div>
        <h1>
            Erabe Game
        </h1>
        <div>
            Based on the concept in the anime
            <a href="https://myanimelist.net/anime/19221/Ore_no_Nounai_Sentakushi_ga_Gakuen_Love_Comedy_wo_Zenryoku_de_Jama_Shiteiru"
               target="_blank"
            >
                Ore no Nounai Sentakushi ga, Gakuen Love Comedy wo Zenryoku de Jama Shiteiru
            </a>.
        </div>
        <div>
            Faced with the curse of <b>Absolute Choice</b>, forced upon you by the self-proclaimed
            <a href="https://myanimecloud.test/user/1"
               target="_blank"
            >
                God of MyAnimeCloud
            </a>, you <b>must make a choice</b>.
        </div>
        <div class="mb-6">
            As a result, the character of your choice will grow in power while the latter may face ... unpleasant
            consequences.
        </div>
        <h2 class="mb-6">
            Erabe!
        </h2>
        <div class="row mb-6">
            <div
                v-for="character in characters"
                :key="character.id"
                class="col-xs-6 col-sm-4 col-md-3 col-lg-3"
            >
                <character
                    :value="character"
                    :loading="loading"
                    @selected="characterSelected"
                />
            </div>
        </div>
        <v-btn
            v-if="selected"
            :disabled="loading"
            color="primary"
            class="white--text text-h6"
            large
            block
            @click="newGame"
        >
            <v-icon
                v-if="loading"
                left
            >
                mdi-loading mdi-spin
            </v-icon>
            Continue to next game!
        </v-btn>
    </div>
</template>

<script>
import Character from '../../components/game/Character'

export default {
    components: {
        Character,
    },
    data() {
        return {
            characters: [],
            loading: false,
            selected: null,
        }
    },
    computed: {
        bestRank() {
            return this.characters.reduce((rank, cur) => Math.min(rank.pivot.rank, cur.pivot.rank))
        },
        winner() {
            return this.selected ? this.characters.find((character) => character.id === this.selected.id) : null
        },
        loser() {
            return this.winner ? this.characters.find((character) => character.id !== this.winner.id) : null
        },
    },
    mounted() {
        this.loadCharacters()
    },
    methods: {
        loadCharacters() {
            Vue.set(this, 'loading', true)
            axios
                .get('/api/user/character/random')
                .then(({ data }) => {
                    data.color = 'purple'
                    this.characters.push(data)
                })
            axios
                .get('/api/user/character/random')
                .then(({ data }) => {
                    data.color = 'blue'
                    this.characters.push(data)
                })
                .finally(() => {
                    Vue.set(this, 'loading', false)
                })
        },
        characterSelected(character) {
            Vue.set(this, 'loading', true)
            Vue.set(this, 'selected', character)
            axios
                .post('/api/character/rank', {
                    id: character.id,
                    rank: this.bestRank,
                })
                .then(({ data }) => {
                    if (data.status === 'success') {
                        Vue.set(this.winner.pivot, 'newRank', data.newRank)
                        Vue.set(this.loser.pivot, 'newRank', this.loser.pivot.rank + 1)
                    } else if (data.status === 'warning') {
                        Vue.set(this.winner.pivot, 'newRank', this.winner.pivot.rank)
                        Vue.set(this.loser.pivot, 'newRank', this.loser.pivot.rank)
                    }
                })
                .finally(() => {
                    Vue.set(this, 'loading', false)
                })
        },
        newGame() {
            Vue.set(this, 'characters', [])
            Vue.set(this, 'selected', null)
            this.loadCharacters()
        },
    },
}
</script>
