<template>
    <v-card>
        <a :href="`/anime/${value.id}`"
           target="_blank"
        >
            <v-img :src="`/storage/anime/${value.image}`"/>
        </a>

        <v-card-title class="text-h5">
            {{ value.title }}
        </v-card-title>

        <v-card-text class="text-h6">
            <div>
                {{ value.type }}
                <span v-if="value.episodes">
                    {{ `(${value.episodes} eps)` }}
                </span>
            </div>
            <div v-if="value.members_score">
                {{ `Members score: ${value.members_score}` }}
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
export default {
    props: {
        value: {
            type: Object,
            required: true,
        },
    },
}
</script>
