<template>
    <v-carousel cycle>
        <a href="/dashboard">
            <v-carousel-item
                v-for="(src,i) in sources"
                :key="i"
                :src="`storage/${src}`"
            />
        </a>
    </v-carousel>
</template>

<script>
export default {
    data() {
        return {
            sources: [
                '2021-03-13_Anime_list_completed_cropped_1841x819.PNG',
                '2021-03-13_Seiyuu_roles_cropped_1697x753.PNG',
                '2021-03-13_Character_top_cropped_1846x811.PNG',
                '2021-03-13_Seiyuu_top_cropped_1845x820.PNG',
                '2021-03-13_Anime_cropped_1815x809.PNG',
            ],
        }
    },
}
</script>
