<template>
    <v-card>
        <a :href="`/character/${value.id}`"
           target="_blank"
        >
            <v-img :src="`/storage/character/${value.image}`"/>
        </a>

        <v-card-title class="text-h5">
            {{ value.name }}
        </v-card-title>

        <v-card-subtitle
            v-if="value.rank"
            class="text-h6"
        >
            My rank: {{ value.rank }}
        </v-card-subtitle>
    </v-card>
</template>

<script>
export default {
    props: {
        value: {
            type: Object,
            required: true,
        },
    },
}
</script>
