<template>
    <div>
        <h1>News</h1>
        <div v-for="post in posts"
             :key="post.id"
             class="panel panel-default"
        >
            <div class="panel-heading title">
                {{ post.title }}
            </div>
            <div class="panel-body">
                <div v-html="post.body"/>
                <br>
                <div>
                    Posted at: <span>{{ postedAt(post) }}</span>
                </div>
            </div>
            <br>
        </div>
    </div>
</template>

<script>
import moment from 'moment'

export default {
    data() {
        return {
            posts: [],
        }
    },
    mounted() {
        axios.get('/api/posts')
            .then((response) => {
                Vue.set(this, 'posts', response.data)
            })
    },
    methods: {
        postedAt(post) {
            return moment(post.created_at).format('DD/MM/YYYY hh:mm')
        },
    },
}
</script>
