<template>
    <div>
        <div v-if="user && lastMalImportIsNotRecent">
            <h1>Suggestions</h1>
            <v-card class="mx-auto"
                    outlined
            >
                <v-card-text class="headline">
                    You didn't import any animes from MyAnimeList recently.
                </v-card-text>

                <v-card-actions>
                    <v-btn class="white--text"
                           color="blue lighten-2"
                           :to="`/user/${user.id}/import`"
                    >
                        Go to the import page now!
                    </v-btn>
                </v-card-actions>
            </v-card>
        </div>
    </div>
</template>

<script>
import moment from 'moment'

export default {
    data() {
        return {
            user: null,
        }
    },
    computed: {
        lastMalImportTime() {
            return this.user && this.user.last_updated_mal_anime ? this.user.last_updated_mal_anime.updated_at : null
        },
        lastMalImportIsNotRecent() {
            return this.lastMalImportTime ? moment().diff(this.lastMalImportTime, 'weeks') > 0 : true
        },
    },
    mounted() {
        axios
            .get('/api/user/last-mal-import')
            .then(({ data }) => {
                Vue.set(this, 'user', data)
            })
    },
}
</script>
