<template>
    <div>
        <h1 class="display-3">
            The page could not be found
        </h1>
        <p class="lead">
            <router-link class="btn btn-primary btn-lg"
                         to="/"
            >
                Return to the homepage
            </router-link>
        </p>
    </div>
</template>
